<div class="comment"><li>
    <p>
    
    <%= comment.content %>
    <br>
    <small>
        <%= comment.user.name %>
    </small>
</br>
<% if (locals.user &&  locals.user.id == comment.user.id) { %>
    <small>
        <a href="/comments/destroy/<%= comment.id %>">delete</a>
    </small>
        <% } %>
</p>
</li></div>