<header>
    <div class="header"><h1>SocialsApp</h1>
    
        <% if (locals.user) { %>
            <div class="header-right"><a href = "/users/profile"><i class="fa-regular fa-user"></i><%= user.name %></a>
        <a href="/users/sign-out">Sign Out</a></div>
        <% }else{ %>
            <div class="header-right"><a  href="/users/sign-in">Login</a>
            <a href="/users/sign-up">Sign Up</a></div>
            <% } %>
    </div>
</header>