        <link rel="stylesheet" href="/css/user_profile.css">
        <div class="profile"><h2>
            Profile
        </h2>
        <p><%= profile_user.name %></p>
        <p><%= profile_user.email %></p>
        </div>