h1 {
  color: #FFE6F7; }

.header {
  background-color: #5C2E7E;
  text-align: center;
  padding: 15px;
  font-size: 18px;
  line-height: 2px;
  border-radius: 4px;
  border-width: 10px; }

.header a {
  float: right;
  text-align: center;
  margin-top: 5px;
  padding: 20px;
  border-width: 10px;
  font-size: 18px;
  line-height: 10px;
  border-radius: 5px; }

.header-right a:hover {
  background-color: #5C2E7E;
  color: plum; }

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left; }
  .header-right {
    float: none; } }
