#home-container {
  display: flex; }
  #home-container a {
    color: #905E96;
    padding-right: 10px; }
  #home-container a:hover {
    color: rgba(214, 0, 0, 0.747); }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px; }
  #home-container #user-friends {
    width: 30%;
    padding: 10px;
    border-left: 1px solid lightgrey;
    height: 100%; }
    #home-container #user-friends a {
      color: #5C2E7E; }
    #home-container #user-friends a:hover {
      color: black; }

body {
  /* text-align: center; */
  background-color: #FFE6F7;
  font-family: 'Oswald', sans-serif; }
  body #layout-main {
    min-height: 100%; }

h2 {
  color: #905E96;
  padding: 30px; }

.header {
  padding: 20px 10px; }

.sign {
  padding: 10px;
  margin: 20px;
  margin-top: 5%;
  border-width: 20px;
  border-radius: 10px;
  box-sizing: border-box; }

.button {
  padding-top: 5px; }
